body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    position: absolute;
    width: 1800px;
    height: 118px;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    background: #FFD900;
    }

#ccxpLogo {
    position: absolute;
    width: 202px;
    height: 63px;
    left: 58px;
    top: 27px;
}

    #ccxpLogo:hover {
        transform: rotate(360deg);
        transition: transform 1s ease;

    }

section {
    width: 100%;
}

#firstSection {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 602px;
    height: 584px;
    left: 0px;
    top: 118px;
    background: #514988;
}

#firstSection h1 {
    position: absolute;
    width: 476px;
    height: 89px;
    left: 60px;
    top: -30px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3C61F;
}

#firstSection h4 {
    position: absolute;
    width: 476px;
    height: 89px;
    left: 150px;
    top: 50px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#firstSection p {
    position: absolute;
    width: 678px;
    height: 350px;
    left: 34px;
    top: 160px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#secondSection {
    position: absolute;
    width: 741px;
    height: 36px;
    left: 635px;
    top: 80px;
    padding-top: 20px;

}

.countdown {
    display: grid;
    grid-auto-flow: column;
  

}

#day, #hour, #min, #sec,
#pDias, #pHora, #pMinuto, #pSegundo {
    display: inline-block;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #514988;
}

.countdown #frase{
    position: absolute;
    width: 900px;
    height: 36px;
    left: 5px;
    top: 130px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E33881;

    }

#frase {
    position: relative;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    }
    
    @keyframes jump {
        0% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(-10px);
        }
        100% {
        transform: translateY(0);
        }
    }
    
    
    
video {
    position: absolute;
    width: 720px;
    height: 410px;
    left: -20px;
    top: 200px;
    }

#thirdSection {
    width: 100%;
}

#thirdSection h3 {
    position: absolute;
    width: 1000px;
    height: 33px;
    left: 90px;
    top: 700px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3C61F;
    margin-bottom: 0;
}

#light {
    animation: light 1s infinite;
}

    @keyframes light {
        0% {
            color: #F3C61F;
        }
        50% {
            color: #514988;
        }
        100% {
            color: #F3C61F;
        }
}

#Quinta {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 71px;
    top: 775px;
    transition: transform 0.2s ease-in-out;

}

    #Quinta:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

#Sexta {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 225px;
    top: 775px;
}

    #Sexta:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

#Sabado {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 389px;
    top: 775px;
}

    #Sabado:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

#Domingo {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 553px;
    top: 775px;
    
}

    #Domingo:hover {
        cursor: pointer;
        transform: translateY(-10px);
    }

#botao {
    position: absolute;
    width: 496px;
    height: 98px;
    left: 804px;
    top: 833px;
    background: #514988;
    border-radius: 20px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;
    color: #FFFFFF;

}

    #botao:hover {
        background-color: #F3C61F;
        cursor: pointer;
    }

#formulario {
    position: absolute;
    width: 1800px;
    height: 118px;
    left: 0px;
    top: 1100px;
    padding: 0;
    background: #FFD900;
    }

    #formulario input {
        background: #514988;
        border-radius: 10px;
        color: #FFFFFF;
        border: 0pt;
        width: 300px;
        height: 70px;
        font-size: 30px;
        cursor: pointer;
        left: 0px;
        margin-top: 30px;
        align-items: center;
 

    }

.card-highlight {
    box-shadow: 10px 10px 10px 10px grey;
}

.card-selected {
    border: 5px solid green;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    header {
        width: 100%;
    }

    #firstSection {
        width: 100%;
        height: 484px;
    }

    #firstSection h1 {
        width: 250px;
        font-size: 25px;
        left: 100px;
    }

    #firstSection h4 {
        width: 250px;
        font-size: 15px;
        left: 100px;
        top: 20px;
    }

    #firstSection p {
        width: 300px;
        font-size: 12px;
        top: 80px;
        left: 80px;
        }

    #secondSection {
        width: 100%;
        left: 10px;
        top: 590px;
    }

    .countdown {
        display: flex;
        flex-wrap:nowrap;
        width: 50%;
    }

    #day,
    #hour,
    #min,
    #sec,
    #pDias,
    #pHora,
    #pMinuto,
    #pSegundo {
        font-size: 35px;
        line-height: 30px;
        vertical-align: baseline;
        margin-top: 10px;
        padding: 10px;
        margin-left: 20px;
    }

    #pDias,
    #pHora,
    #pMinuto,
    #pSegundo {
        margin-right: 20px;
    }

    .countdown #frase {
        width: 250px;
        font-size: 17px;
        top: 200px;
        line-height: 20px;
        left: 50px;
    }

    video {
        width: 320px;
        top: 150px;
        left: 30px;
    }

    #thirdSection h3 {
        top: 1190px;
        left: 50px;
        width: 250px;
        font-size: 16px;
        line-height: 30px;
    }

    #Quinta {
        top: 1300px;
        left: 0px;
    }

    #Sexta {
        top: 1300px;
        left: 200px;
    }

    #Sabado {
        top: 1500px;
        left: 0px;
    }

    #Domingo {
        top: 1500px;
        left: 200px;
    }

    #botao {
        width: 320px;
        height: 68px;
        left: 30px;
        top: 1700px;
        font-size: 16px;
    }

    #formulario {
        width: 100%;
        height: 100%;
        top: 1800px;
        display: flex;
        flex-direction: column;
    }

    #formulario input {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 50px;
        margin-top: 100px;
    }

    #submitInput {
        padding-top: 20px;
    }
}


